@import '../utilities/main.scss';
.nav-link{
    width: 62.5px;
    height: 62.5px;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 38.5px;
    border-radius: 16px;
    opacity: .5;
    transition: $TRANSITION;
    @include flex-center(column);
    @include tablet{
        width: 40px;
        height: 40px;
    }
    @include desktop-regular{
        width: 62.5px;
        height: 62.5px;
    }
    &:hover{
        background-color: $PRIMARY_H;
        opacity: 1;
    }
    &.actived{
        background-color: $PRIMARY_H;
        opacity: 1;
    }
    .image-container{
        width: 25px;
        height: 25px;
        position: relative;
        @include tablet{
            width: 24px;
            height: 24px;
        }
        @include desktop-regular{
            width: 30px;
            height: 30px;
        }
    }
}