@import "../utilities/main.scss";

.container {
  width: 80px;
  min-height: 100vh;
  background-color: $LIGHT;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  @include tablet{
    width: 80px;
  }
  @include desktop-regular{
    width: 142px;
  }
  .logo {
    width: 100px;
    height: 60px;
    position: relative;
    margin: auto;
    padding: 39px 0px 75px 0px;
    @include tablet{
      width: 60px;
    }
    @include desktop-regular{
      width: 100px;
    }
  }
  .links {
    border-top: 1px solid $WHITE05;
    padding-top: 27px;
    @include flex-center(column)
  }
}
