@import "../utilities/main.scss";
.tabs {
  width: 100%;
  height: calc(100% - 90px);
  &.full-height {
    height: 100%;
    .tab-content {
      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }
    }
  }
}
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  list-style-type: none;
  margin: 0pc;
  @include flex-center(row);
}

.tab-content {
  overflow-y: scroll;
  height: calc(100% - 38px);
  background-color: $TABS_BACKGROUND;
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: $PRIMARY;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $PRIMARY_H;
  }
}

.tab-list-item {
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  width: 50%;
  background-color: $TAB;
  color: $WHITE;
  @include flex-center(row);
  &.left {
    border-top-left-radius: 16px;
  }
  &.right {
    border-top-right-radius: 16px;
  }
}

.tab-list-active {
  background-color: $LIGHT;
}
