$PRIMARY: #0077ff;
$PRIMARY_H: #2a4ac2;
$COMPARE: #c70000;
$DARK: #1e222b;
$TINT: #99badd;
$LIGHT: #486ae8;
$BACKGROUND: #f5f6ff;
$GRAY1000: #363636;
$GRAY900: #7d7d7d;
$GRAY800: #b6b6b6;
$GRAY700: #d9d9d9;
$WHITE: #ffffff;
$WHITE05: #ffffff80;

// Break-Point
$BREAKPOINT_DESKTOP_LARGE: 1200px;
$BREAKPOINT_DESKTOP_REGULAR: 992px;
$BREAKPOINT_TABLET: 768px;
$BREAKPOINT_MOBILE: 375px;

$TRANSITION: 0.2s ease;

$SHADOW: 4px 4px 25px rgba(148, 148, 148, 0.25);
$CARD_SHADOW: 2px 4px 7px rgba(196, 196, 196, 0.11);

$TABS_BACKGROUND: #f6f7ff;
$TAB: #bfcdff;

$DROPDOWN_ITEM: #edefff83;
