$PRIMARY: #0077FF;
$PRIMARY_H: #2A4AC2;
$COMPARE: #FFC44E;
$DARK: #1E222B;
$TINT: #99BADD;
$LIGHT: #486AE8;


$BACKGROUND: #F5F6FF;

$GRAY1000: #363636;
$GRAY900: #7D7D7D;
$GRAY800: #B6B6B6;
$GRAY700: #D9D9D9;
$WHITE: #FFFFFF;
$WHITE05: #ffffff80;

$TRANSITION: 0.2s ease;

$SHADOW: 4px 4px 25px rgba(148, 148, 148, 0.25);

$TABS_BACKGROUND: #F6F7FF;
$TAB: #BFCDFF;

$DROPDOWN_ITEM: #edefff83;