@import "../utilities/main.scss";
.wrapper {
  width: calc(100% - 142px);
  min-height: 100vh;
  padding: 55px 82px;
  background-color: $BACKGROUND;
  h1 {
    color: $LIGHT;
  }
  .section {
    &--top {
      margin-bottom: 33px; // todo
      @include flex-row-space(center);
    }
    &--bottom {
      width: 100%;
      height: calc(100vh - 193px);
      border-radius: 16px;
      padding: 53px 67px 110px 67px;
      background-color: $WHITE;
      h2 {
        color: $GRAY900;
        margin-bottom: 34px;
      }
      .news-container{
        width: 100%;
        height: 533px;
        overflow-y: scroll;
        /* width */
      &::-webkit-scrollbar {
        width: 6px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
          background: transparent;
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
          border-radius: 25px;
          background: $PRIMARY;
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
          background: $PRIMARY_H
      }
        @include flex-column-space(center);
        .news-item{
          &--first, &--second{
            width: 100%;
            padding: 24px 69px;
            margin-bottom: 2px;
            @include flex-column-start(flex-start);
            .date{
              color: $LIGHT;
              font-size: var(--text-lg);
            }
            .detail{
              color: $GRAY900;
              font-size: var(--text-md);
            }
          }
          &--first{
            background-color: #F6F7FF;
          }
          &--second{
            background-color: #ECEEFF;
          }
        }
      }
    }
  }
  .result,
  .loading {
    color: $GRAY900;
    padding: 24px 69px;
  }

  .route-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 69px 17px 69px;
    border-bottom: 2px solid $WHITE;
    p,
    h3 {
      margin: 0px 0px 8px 0px;
    }
    h3 {
      color: $LIGHT;
    }
    .stop-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      color: $GRAY900;
    }
    &.darker {
      background-color: #eceeff;
    }
  }
  .search-wrapper {
    width: 100%;
    height: calc(100% - 94px);
    display: grid;
    grid-template-columns: 381px auto;
    grid-template-rows: 336px 336px;
    row-gap: 28px;
    column-gap: 28px;
    grid-template-areas:
      "search map"
      "result map";
  }
  .item-search {
    width: 100%;
    height: 100%;
    grid-area: search;
    border-radius: 16px;
    padding: 44px 33px;
    background-color: $WHITE;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: $CARD_SHADOW;
    h2 {
      margin: 0px;
      color: $GRAY900;
    }
  }
  .item-result {
    border-radius: 16px;
    grid-area: result;
    box-shadow: $CARD_SHADOW;
  }
  .item-map {
    border-radius: 16px;
    grid-area: map;
    box-shadow: $CARD_SHADOW;
  }

  .button-container {
    width: 274px;
    height: 41px;
    margin: 0px auto;
  }
  .flex-row {
    @include flex-row;
  }
  .flex-row-between{
    width: 100%;
    margin-top: 5px;
    @include flex-row-space(center);
  }
  .flex-column{
    @include flex-column-start(flex-start);
  }
  .search-route-list {
    width: 100%;
    min-height: 100%;
    background-color: $WHITE;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    @include flex-center(column);
    .search-result-item {
      width: 100%;
      padding: 10px 40px;
      @include flex-column-start(flex-start);
      .normal{
          color: $LIGHT;
          margin: 0px;
      }
      .notice{
          color: $COMPARE;
          margin: 0px;
      }
      .none{
          color: $GRAY900;
          margin: 0px;
      }
      .car{
          color: $LIGHT;
          margin: 0px 0px 0px 5px;
      }
      p {
        margin: 0px 0px 0px 8px;
      }
      &.darker {
        background-color: #f2f2f2;
      }
    }
  }
}
